<h3>みんなのレビュー</h3>
<% @reviews.each do |review| %>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td width="15%"> <%= review.user.first_name %> </td>
			<td> <%= review.review %></td>

      <%= button_to "Edit" %>
      <%= button_to "Destroy" %>
		</tr>
	</tbody width="85%">
</table>

<% end %>
