<h3>みんなのレビュー</h3>


<table class="table table-bordered">
	<tbody>
		<% @reviews.each do |review| %>
		<tr>
			<td> <%= review.user.first_name %> </td>
			<td width="85%"> <%= review.review %></td>
			<td><%= link_to "編集", edit_review_path(review.id), class: "btn btn-default" %>
			</td>
			<td>
				<%= link_to "削除", review_path(review.id), class: "btn btn-danger", method: :delete %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>


