<div class="container">
	<h3>購入履歴一覧</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>購入者</th>
				<th>購入日</th>
				<th>購入商品詳細</th>
				<th>購入価格総計</th>
				<th>送付先</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>s