<div class="container">
      <div class="row">
      	 <div class="col-lg-3" >
      	 	<%= render 'users/userinfo' %>
      	 </div>
      	 <div class="col-lg-9" >
            <%= render 'addresses/addresses' %>
      	 </div>
      </div>
</div>