<% @.each do |user| %>
			<tr>
				<td><%= user.last_name + user.first_name %></td>
				<td><%= user.telephone_number %></td>
				<td><%= user.email %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</body>