<<<<<<< HEAD
<%= render 'users/userinfo' %>
<%= render 'addresses/addresses' %>
=======
<div class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">
      	 <div class="col-lg-5" >
      	 	<%= render 'users/userinfo' %>
      	 </div>
      	 <div class="col-lg-7" >
            <%= render 'addresses/addresses' %>
      	 </div>
      </div>
<<<<<<< HEAD
</div>
>>>>>>> a3a637c34969b05c884e1e94a382189fb4ea6e95
=======
  </div>
</div>
>>>>>>> master
