<div class="container">
      <div class="row">
<<<<<<< HEAD
      	      	 <div class="top-message col-md-offset-3 col-md-6" >
      				<h1>ご注文ありがとうございます</h1>
      			     <%= link_to "Topへ戻る", root_path, class: "btn btn-default" %>
					 <%= link_to "Mypage", user_path(current_user.id), class: "btn btn-default" %>
=======
      	      	 <div class="col-md-6 col-md-offset-3" >
      				 <h1 class="text-center">ご注文ありがとうございます</h1>
      			     <%= link_to "Topへ戻る", root_path, class: "btn btn-default col-xs-6" %>
					 <%= link_to "Mypage", user_path(current_user.id), class: "btn btn-default col-xs-6" %>
>>>>>>> a3a637c34969b05c884e1e94a382189fb4ea6e95
      			 </div>
      </div>
</div>